<div class="well hero-unit">
  <h1>Home</h1>
        <%= image_tag current_user.file.url(:medium) %>

  Hello <%= current_user.full_name %> | <%= link_to "Logout", destroy_user_session_path, :method => :delete, :confirm => "Are you sure?" %>

  <br><br>
    <%= link_to "Followers", friends_path, :class => "btn btn-primary btn-large" %>
  <%= link_to "Go to Tweets", tweets_path, :class => "btn btn-primary btn-large" %>
  <%= link_to "Edit User Profile", edit_user_registration_path, :class => "btn btn-primary btn-large" %>
  <%= link_to "List of Users", pages_path, :class => "btn btn-primary btn-large" %>
  <%= link_to "Add Tweet", new_tweet_path, :class => "btn btn-primary btn-large" %>

</div>

<div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>User</th>
      <th>Tweet</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |p| %>
      <tr>
        <td><%= p.user.full_name %></td>
        <td><%= image_tag p.user.file.url(:medium) %></td>
        <td><%= p.message %></td>
        <td>
          <%= link_to "Edit", edit_tweet_path(p) %>
          |
          <%= link_to "Destroy", tweet_path(p), :method => :delete, :confirm => "Are you sure you want to delete this tweet?" %>
          |
          <%= link_to "Show", tweet_path(p) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
